<div class="main">
    <div class="container">
      <ul class="breadcrumb">
      </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN CONTENT -->
            <div class="col-md-12 col-sm-12">
                <h1>Post Edit</h1>
                <div class="content-page">
                    <div class="row">
                        <div class="col-md-12">
                            <form class="form-horizontal" role="form">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Name</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="fullname" name="fullname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Email</label>
                                                <div class="col-md-10">
                                                    <input type="email" class="form-control" id="email" name="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">Phone</label>
                                                <div class="col-md-10">
                                                    <input type="text" class="form-control" id="phone" name="phone">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Category</label>
                                        <div class="col-md-10">
                                            <select class="select2me input-xlarge" name="category" id="category">
                                                <% categories.forEach(function(category) {%>
                                                <option value="<%= category._id%>"><%= category.name%></option>
                                                <%});%>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Title</label>
                                        <div class="col-md-11">
                                            <input type="text" class="form-control" name="title" id="title">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <textarea class="ckeditor form-control" id="content" name="content" rows="20"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-1 control-label">Attachment</label>
                                        <div class="col-md-11">
                                            <input type="file" class="form-control" name="files" id="files" multiple>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-actions">
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn green" id="btn_save"><i class="fa fa-check"></i> Submit</button>
                                            <button type="button" class="btn btn-danger" id="btn_preview" data-toggle="modal" data-target="#preview"><i class="fa fa-eye"></i> Preview</button>
                                            <button type="reset" class="btn default" id="btn_back"><i class="fa fa-arrow-circle-o-left"></i> Back</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-lg" id="preview" tabindex="-1" role="basic" aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title text-success"><i class="icon-eye"></i> Preview</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-user text-danger pull-left"></i>
                        <label class="bold col-md-3" id="label_name"></label>
                        <i class="fa fa-envelope-o text-danger pull-left"></i>
                        <label class="bold col-md-3" id="label_email"></label>
                        <i class="fa fa-phone text-danger pull-left"></i>
                        <label class="bold col-md-2" id="label_phone"></label>
                        <i class="fa fa-calendar pull-left text-danger"></i>
                        <label class="col-md-3 bold" id="label_created_at"></label>
                        <i class="fa fa-tags pull-left text-danger"></i>
                        <label class="col-md-2 bold" id="label_category"></label>
                    </div>
                    
                </div><hr>
                <div class="row">
                    <div class="col-md-12">
                        <h2 id="post_title"></h2>
                        <div id="preview_body">

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="../../js/post/edit.js"></script>