<!-- BEGIN HEADER -->
<div class="header">
    <div class="container">
        <a class="site-logo" href="/" style="margin-top: -25px;">
            <img src="../../images/logo.png" alt="Metronic FrontEnd">
        </a>

        <a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

        <!-- BEGIN NAVIGATION -->
        <div class="header-navigation pull-right font-transform-inherit">
            <ul>
                    
                <% if(!session.token) {%>
                    <!-- <li><a href="/training">Training</a></li> -->
                    <li><a href="/training"><i class="icon-social-youtube"></i> Training</a></li>
                    <li><a href="/info"><i class="icon-info"></i> Info</a></li>
                    <li><a href="/auth/login"><i class="icon-login"></i> Sign in</a></li>
                    <li><a href="/auth/register"><i class="icon-user-follow"></i> Register</a></li>
                <%} else {%>
                    <% if(session.permission == 2) {%>
                    <li><a href="/support"><i class="icon-notebook"></i> Suport</a></li>
                    <li><a href="/training"><i class="icon-social-youtube"></i> Training</a></li>
                    <li><a href="/info"><i class="icon-info"></i> Info</a></li>
                    <li><a href="/faq"><i class="icon-question"></i> FAQ</a></li>
                    <li><a href="/ask_for_post"><i class="icon-speech"></i> Ask for a post</a></li>
                    <li><a href="/recommend_category"><i class="icon-like"></i> Recommend Category</a></li>
                    <li><a href="/auth/profile/photo_generate"><i class="icon-picture"></i> Create your logo</a></li>
                    <li><a href="/search"><i class="icon-magnifier"></i> Search</a></li>
                    <%}%>
                    <% if(session.permission == 1) {%>
                        <li><a href="/admin/videos"><i class="icon-social-youtube"></i> Video Management</a></li>    
                    <li><a href="/admin"><i class="icon-equalizer"></i> Admin</a></li>
                    <%}%>
                    
                    <li class="menu-search">
                        <span class="sep"></span>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="javascript:;" style="margin-top: -10px;">
                                <img src="../../uploads/users/<%=session.photo%>" style="width: 45px; height: 45px;">
                                <%= session.name%> <%= session.surname %>
                            </a>
                            <ul class="dropdown-menu">
                              <li><a href="/auth/profile"><i class="icon-user"></i> View Profile</a></li>
                              <li><a href="/auth/logout"><i class="icon-power"></i> Logout</a></li>
                            </ul>
                        </li>
                    </li>
                <%}%>                
            </ul>
        </div>
        <!-- END NAVIGATION -->
    </div>
</div>
<script src="../../js/header.js"></script>