<div class="main">
    <div class="user-container">
      <ul class="breadcrumb">
      </ul>
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Info</h1>
          <div class="content-page">
            <div class="row">

            </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</div>