<div class="main">
    <div class="container">
      <ul class="breadcrumb">
      </ul>
      <!-- BEGIN CONTENT -->
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Memberships</h1>
          <div class="content-page">
            <div class="row margin-bottom-40">
              <!-- Pricing -->
              <div class="col-md-3">
                <div class="pricing hover-effect">
                  <div class="pricing-head">
                    <h3>Start free
                    <span>
                       One post plan
                    </span>
                    </h3>
                    <h4>Free
                    </h4>
                  </div>
                  <div class="pricing-footer">
                    <p>
                    </p>
                    <a href="javascript:;" class="btn btn-primary">
                       Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pricing hover-effect">
                  <div class="pricing-head">
                    <h3>Common plan
                    <span>
                       2 post per week
                    </span>
                    </h3>
                    <h4><i>$</i>20<i>.00</i>
                    <span>
                       Per Month
                    </span>
                    </h4>
                  </div>
                  <div class="pricing-footer">
                    <p>
                       <h4>Year subscription 190</h4>
                    </p>
                    <a href="javascript:;" class="btn btn-primary">
                       Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pricing hover-effect">
                  <div class="pricing-head">
                    <h3>Medium
                    <span>
                       3 post per week
                    </span>
                    </h3>
                    <h4><i>$</i>25<i>.00</i>
                    <span>
                       Per Month
                    </span>
                    </h4>
                  </div>
                  <div class="pricing-footer">
                    <p>
                       <h4>Year subscription 340</h4>
                    </p>
                    <a href="javascript:;" class="btn btn-primary">
                       Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="pricing hover-effect">
                  <div class="pricing-head">
                    <h3>Advance
                    <span>
                       4 post per week
                    </span>
                    </h3>
                    <h4><i>$</i>30<i>.00</i>
                    <span>
                       Per Month
                    </span>
                    </h4>
                  </div>
                  <div class="pricing-footer">
                    <p>
                       <h4>Year subscription 290</h4>
                    </p>
                    <a href="javascript:;" class="btn btn-primary">
                       Sign Up <i class="m-icon-swapright m-icon-white"></i>
                    </a>
                  </div>
                </div>
              </div>
              <!--//End Pricing -->
            </div>
          </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>