<div class="main">
    <div class="user-container">
      <ul class="breadcrumb">
      </ul>
      <div class="row margin-bottom-40">
        <!-- BEGIN CONTENT -->
        <div class="col-md-12 col-sm-12">
          <h1>Training</h1>
          <div class="content-page">
            <div class="row">
                <div class="col-md-12">
                    <video controls>
                        <source src="" type="video/mp4">
                    </video>
                </div>
            </div>
        </div>
      </div>
      <!-- END CONTENT -->
    </div>
  </div>
</div>